<header class="am-topbar header">
  <div class="am-container-1">
    <div class="left hw-logo">
      <a href="/">
        <!-- <img class=" logo" src="/assets/img/HENGWANG.png"></img>
        <img class="word" src="/assets/img/hw-word.png"></img> -->
        <h1>LOGO</h1>
      </a>

    </div>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
      data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
        class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse right" id="doc-topbar-collapse">


      <div class=" am-topbar-left am-form-inline am-topbar-right" role="search">
        <ul class="am-nav am-nav-pills am-topbar-nav hw-menu">
          <!-- <li class="hw-menu-active"><a href="index.html">首页</a></li> -->
          <% categorys.forEach(item => { %>

          <% if (item.id == category.id) { %>
          <li class="hw-menu-active"><a href="<%= item.url %>"><%= item.title %></a></li>
          <%} else {%>
          <li><a href="<%= item.url %>"><%= item.title %></a></li>
          <%}%>
            
          
          <% }) %>

        </ul>
      </div>

    </div>
  </div>
</header>